/* Home.css */
.home {
  text-align: center;
  margin: 100px 0 0;
}

.home h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.home p {
  font-size: 16px;
  color: #777;
}

.home_menus {
  margin: 50px 0 0;
}

.home_menus ul {
  list-style: none;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.home_menus ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home_menus ul li a {
  transition: color 0.3s;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: #222;
}

.home_menus ul li a:hover {
  color: #E50914;
}